<div th:fragment="footer">
  <footer class="footer ">
    <div class="container">
      <nav>
        <ul>
          <li>
            <a href="https://www.creative-tim.com">
              Creative Tim
            </a>
          </li>
          <li>
            <a href="http://presentation.creative-tim.com">
              About Us
            </a>
          </li>
          <li>
            <a href="http://blog.creative-tim.com">
              Blog
            </a>
          </li>
          <li>
            <a href="https://www.creative-tim.com/license">
              License
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright">
        ©
        <script>
          document.write(new Date().getFullYear())
        </script>, Thanks
        <a href="http://www.invisionapp.com" target="_blank">Invision</a> and
        <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
      </div>
    </div>
  </footer>
  <script th:src="@{/js/core/jquery.3.2.1.min.js}" type="text/javascript"></script>
  <script th:src="@{/js/core/popper.min.js}" type="text/javascript"></script>
  <script th:src="@{/js/core/bootstrap.min.js}" type="text/javascript"></script>
  <script th:src="@{/js/plugins/moment.min.js}"></script>
  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
  <script th:src="@{/js/plugins/bootstrap-switch.js}"></script>

  <script th:src="@{/js/now-ui-kit.js?v=1.1.0}" type="text/javascript"></script>
</div>