<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/img/apple-icon.png}">
    <link rel="icon" type="image/png" th:href="@{/img/favicon.png}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Shopping With Me</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
        name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <div th:insert="/layouts/nowuicss :: linkcss"></div>
</head>

<body>
    <div th:insert="/layouts/nav::nav">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div id="productCarousel" class="carousel slide" data-ride="carousel" data-interval="8000">
                        <ol class="carousel-indicators">
                            <li data-target="#productCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#productCarousel" data-slide-to="1" class=""></li>
                            <li data-target="#productCarousel" data-slide-to="2" class=""></li>
                            <li data-target="#productCarousel" data-slide-to="3" class=""></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <img class="d-block img-raised" th:src="${product.img_links}" alt="First slide">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#productCarousel" role="button" data-slide="prev">
                            <button type="button" class="btn btn-primary btn-icon btn-round btn-sm" name="button">
                                <i class="now-ui-icons arrows-1_minimal-left"></i>
                            </button>
                        </a>
                        <a class="carousel-control-next" href="#productCarousel" role="button" data-slide="next">
                            <button type="button" class="btn btn-primary btn-icon btn-round btn-sm" name="button">
                                <i class="now-ui-icons arrows-1_minimal-right"></i>
                            </button>
                        </a>
                    </div>
                    <p class="blockquote blockquote-primary">
                        "And thank you for turning my personal jean jacket into a couture piece. Wear yours with
                        mirrored sunglasses on vacation."
                        <br>
                        <br>
                        <small>Kanye West</small>
                    </p>
                </div>
                <div class="col-md-6 ml-auto mr-auto">
                    <h2 class="title"> ${product.name} </h2>
                    <h5 class="category">${product.category.name}</h5>
                    <h2 class="main-price">$ ${product.price}</h2>
                    <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
                        <div class="card card-plain">
                            <div class="card-header" role="tab" id="headingOne">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne">
                                    Description
                                    <i class="now-ui-icons arrows-1_minimal-down"></i>
                                </a>
                            </div>
                            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                <div class="card-body">
                                    <p>${product.content}</p>
                                </div>
                            </div>
                        </div>
                        <div class="card card-plain">
                            <div class="card-header" role="tab" id="headingTwo">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                                    aria-expanded="false" aria-controls="collapseTwo">
                                    Designer Information
                                    <i class="now-ui-icons arrows-1_minimal-down"></i>
                                </a>
                            </div>
                            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="card-body">
                                    <p>An infusion of West Coast cool and New York attitude, Rebecca Minkoff is
                                        synonymous with It girl style. Minkoff burst on the fashion scene with her
                                        best-selling 'Morning After Bag' and later expanded her offering with the
                                        Rebecca Minkoff Collection - a range of luxe city staples with a "downtown
                                        romantic" theme.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card card-plain">
                            <div class="card-header" role="tab" id="headingThree">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                    href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Details and Care
                                    <i class="now-ui-icons arrows-1_minimal-down"></i>
                                </a>
                            </div>
                            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="card-body">
                                    <ul>
                                        <li>Storm and midnight-blue stretch cotton-blend</li>
                                        <li>Notch lapels, functioning buttoned cuffs, two front flap pockets, single
                                            vent, internal pocket</li>
                                        <li>Two button fastening</li>
                                        <li>84% cotton, 14% nylon, 2% elastane</li>
                                        <li>Dry clean</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pick-size">
                        <div class="col-lg-6 col-md-8 col-sm-6">
                            <label>Select color</label>
                            <div class="btn-group bootstrap-select"><button type="button"
                                    class="dropdown-toggle select-with-transition btn btn-block" data-toggle="dropdown"
                                    role="button" title="Black"><span
                                        class="filter-option pull-left">Black</span>&nbsp;<span class="bs-caret"><span
                                            class="caret"></span></span></button>
                                <div class="dropdown-menu open" role="combobox">
                                    <ul class="dropdown-menu inner" role="listbox" aria-expanded="false">
                                        <li data-original-index="0" class="selected"><a tabindex="0" class=""
                                                data-tokens="null" role="option" aria-disabled="false"
                                                aria-selected="true"><span class="text">Black</span><span
                                                    class="now-ui-icons ui-1_check check-mark"></span></a></li>
                                        <li data-original-index="1"><a tabindex="0" class="" data-tokens="null"
                                                role="option" aria-disabled="false" aria-selected="false"><span
                                                    class="text">Gray</span><span
                                                    class="now-ui-icons ui-1_check check-mark"></span></a></li>
                                        <li data-original-index="2"><a tabindex="0" class="" data-tokens="null"
                                                role="option" aria-disabled="false" aria-selected="false"><span
                                                    class="text">White</span><span
                                                    class="now-ui-icons ui-1_check check-mark"></span></a></li>
                                    </ul>
                                </div><select class="selectpicker" data-style="select-with-transition btn btn-block"
                                    data-size="7" tabindex="-98">
                                    <option value="1">Black</option>
                                    <option value="2">Gray</option>
                                    <option value="3">White</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-8 col-sm-6">
                            <label>Select size</label>
                            <div class="btn-group bootstrap-select"><button type="button"
                                    class="dropdown-toggle select-with-transition btn btn-block" data-toggle="dropdown"
                                    role="button" title="Small"><span class="filter-option pull-left">Small
                                    </span>&nbsp;<span class="bs-caret"><span class="caret"></span></span></button>
                                <div class="dropdown-menu open" role="combobox">
                                    <ul class="dropdown-menu inner" role="listbox" aria-expanded="false">
                                        <li data-original-index="0" class="selected"><a tabindex="0" class=""
                                                data-tokens="null" role="option" aria-disabled="false"
                                                aria-selected="true"><span class="text">Oversize</span><span
                                                    class="now-ui-icons ui-1_check check-mark"></span></a></li>

                                    </ul>
                                </div><select class="selectpicker" data-style="select-with-transition btn btn-block"
                                    data-size="7" tabindex="-98">
                                    <option value="1">Oversize</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <button class="btn btn-primary mr-3">Add to Cart &nbsp;<i
                                class="now-ui-icons shopping_cart-simple"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div th:insert="/layouts/footer :: footer"></div>
</body>

<body class="product-page">
    <!-- Navbar -->
    <div th:insert="/layouts/nav::nav"></div>
    <!-- End Navbar -->
    <div class="wrapper">
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h4>
                            <small>Shopping Cart Table</small>
                        </h4>
                    </div>
                    <div class="col-md-12">
                        <div class="card card-plain">
                            <div class="card-body">
                                <input type="hidden" id="transactionID" th:value="${transaction.id}">
                                <div class="table-responsive">

                                    <table class="table table-shopping">
                                        <thead class="">
                                            <tr>
                                                <th class="text-center">
                                                </th>
                                                <th>
                                                    Product
                                                </th>
                                                <th>
                                                    Color
                                                </th>
                                                <th>
                                                    Size
                                                </th>
                                                <th class="text-right">
                                                    Price
                                                </th>
                                                <th class="text-right">
                                                    Qty
                                                </th>
                                                <th class="text-right">
                                                    Amount
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <th:block th:each="order : ${transaction.getOrders()}">
                                                <tr th:id="${order.id}">
                                                    <td>
                                                        <div class="img-container">
                                                            <img th:src="${order.product.img_links}" alt="...">
                                                        </div>
                                                    </td>
                                                    <td class="td-name">
                                                        <a
                                                            th:href="@{/product?id={id}(id=${order.product.id})}">[[${order.product.name}]]</a>
                                                        <br>
                                                        <small>[[${order.product.content}]]</small>
                                                    </td>
                                                    <td>
                                                        Black
                                                    </td>
                                                    <td>
                                                        Oversize
                                                    </td>
                                                    <td class="td-number">
                                                        <small>€</small>
                                                        <span id="price">[[${order.product.price}]]</span>
                                                    </td>
                                                    <td class="td-number">
                                                        <span id="quantity"> [[${order.quantity}]]</span>
                                                        <div class="btn-group">

                                                            <button type="button" class="btn btn-info btn-sm"
                                                                th:id="'order-des-btn-' + ${order.id}">
                                                                <i class="now-ui-icons ui-1_simple-delete"></i>
                                                            </button>

                                                            <button type="button" class="btn btn-info btn-sm"
                                                                th:id="'order-increase-btn-' + ${order.id}">
                                                                <i class="now-ui-icons ui-1_simple-add"></i>
                                                            </button>
                                                        </div>
                                                    </td>
                                                    <td class="td-number">
                                                        <small>€</small> <span id="amount">[[${order.price}]]</span>
                                                    </td>
                                                    <td class="td-actions">
                                                        <button type="button" rel="tooltip" data-placement="left"
                                                            title="" class="btn btn-neutral"
                                                            th:id="'order-delete-btn-' + ${order.id}"
                                                            data-original-title="Remove item">
                                                            <i class="now-ui-icons ui-1_simple-remove"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </th:block>
                                            <tr>
                                                <td colspan="5">
                                                </td>
                                                <td class="td-total">
                                                    Total
                                                </td>
                                                <td class="td-price">
                                                    <small>€</small><span id="total">[[${transaction.amount}]]</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <p class="category">Địa chỉ giao hàng</p>
                                    <div class="col-sm-8 col-lg-12">
                                        <div class="input-group">
                                            <input id="address" type="text" class="form-control"
                                                placeholder="Right Nucleo Icon" th:value="${userAdress}">
                                            <span class="input-group-addon">
                                                <i class="now-ui-icons users_single-02"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" id="checkout">
                                    <div class="" style="float: left;">
                                        <p class="category">Chọn phương thức thanh toán</p>
                                        <div class="form-check form-check-radio disabled">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="radio" name="exampleRadios1"
                                                    id="exampleRadios2" value="option3" disabled="">
                                                <span class="form-check-sign"></span>
                                                ATM | Ví điện tử
                                            </label>
                                        </div>
                                        <div class="form-check form-check-radio">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="radio" name="exampleRadios1"
                                                    id="exampleRadios2" value="option4" disabled="" checked="">
                                                <span class="form-check-sign"></span>
                                                Thanh toán khi nhận hàng
                                            </label>
                                        </div>
                                        <button class="btn btn-info" id="checkout">Đặt
                                            hàng</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:insert="/layouts/footer :: footer"></div>
    </div>
    <script>
        $(function () {
            $('button[id^="order-increase-btn-"]').click(function () {
                var orderRow = $(this).closest('tr');
                var priceElem = orderRow.find('#amount');
                var quantityElem = orderRow.find('#quantity');
                var totalElem = $('#total');
                var price = parseInt(orderRow.find('#price').text());
                var quantity = parseInt(orderRow.find('#quantity').text());
                var newPrice = price * (quantity + 1);
                var newTotal = parseInt(totalElem.text()) + price;
                priceElem.text(newPrice.toFixed(2));
                quantityElem.text((quantity + 1));
                totalElem.text(newTotal);

                const updateOder = {
                    quantity: quantity + 1,
                    price: newPrice
                };

                fetch('/api/orders/' + orderRow.attr('id'), {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(updateOder)
                })
                    .then(response => response.json())
                    .then(updateOder => {
                        console.log(updateOder);
                    })
                    .catch(error => {
                        console.log(error)
                    });
            });

            $('button[id^="order-des-btn-"]').click(function () {
                var orderRow = $(this).closest('tr');
                var priceElem = orderRow.find('#amount');
                var quantityElem = orderRow.find('#quantity');
                var totalElem = $('#total');
                var price = parseInt(orderRow.find('#price').text());
                var quantity = parseInt(orderRow.find('#quantity').text());
                if (quantity > 1) {
                    var newPrice = price * (quantity - 1);
                    var newTotal = parseInt(totalElem.text()) - price;
                    priceElem.text(newPrice.toFixed(2));
                    quantityElem.text((quantity - 1));
                    totalElem.text(newTotal);

                    const updateOder = {
                        quantity: quantity - 1,
                        price: newPrice
                    };

                    fetch('/api/orders/' + orderRow.attr('id'), {
                        method: 'PUT',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(updateOder)
                    })
                        .then(response => response.json())
                        .then(updateOder => {
                            console.log(updateOder);
                        })
                        .catch(error => {
                            console.log(error)
                        });
                }
            });

            $('button[id^="order-delete-btn-"]').click(function () {
                var orderRow = $(this).closest('tr');
                console.log(orderRow.attr('id'));
                var priceElem = orderRow.find('#amount');
                var totalElem = $('#total');
                var newTotal = parseInt(totalElem.text()) - parseInt(priceElem.text());
                totalElem.text(newTotal);
                fetch('/api/orders/' + orderRow.attr('id'), {
                    method: 'DELETE'
                })
                    .then(() => {
                        orderRow.remove();
                    })
                    .catch(error => {
                        console.log(error)
                    });

            });

            $('#checkout').click(function () {
                var msg = $('#address').val();
                var id = $('#transactionID').val();
                const transactionUpdate = {
                    message: msg
                };

                fetch('/api/transactions/' + id, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(transactionUpdate)
                })
                    .then(response => response.json())
                    .then(transactionUpdate => {
                        console.log(transactionUpdate);
                        window.location.replace("./paymentsuccess");
                    })
                    .catch(error => {
                        console.log(error)
                    });
            })



        });
    </script>
</body>